<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-29T6DCB\SQLEXPRESS;Database=Ukrposhta;Trusted_Connection=True;TrustServerCertificate=True;" />
		<add name="LocalConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Ukrposhta.mdf;Integrated Security=True;Connect Timeout=30;"/>
	</connectionStrings>
</configuration>